<header>

    <div class="navbar">

        <h2>🍲 Recipe Sharing</h2>

        <nav>

            <a href="/">Trang chủ</a>

            <a href="#">Đăng công thức</a>

            <a href="#">Đăng nhập</a>

        </nav>

    </div>

</header>