<header>
    <div class="navbar">
        <h2 class="navbar-logo-container"> <img src="https://cdn-icons-png.flaticon.com/512/1065/1065711.png" alt="Logo" class="navbar-logo-img">Recipe Sharing</h2>
        <nav>
            <a href="/">Trang chủ</a>
            <% if (typeof user !== 'undefined' && user) { %>
                <% if (user.role === 'admin') { %>
                    <a href="/admin/dashboard">Trang Quản trị</a>
                <% } %>
                <a href="/recipes/create">Đăng công thức</a>
                <a href="/profile">Chào, <%= user.username %>!</a>
                <a href="/logout">Đăng xuất</a>
            <% } else { %>
                <a href="/login">Đăng nhập</a>
                <a href="/register">Đăng ký</a>
            <% } %>
        </nav>
    </div>
</header>   