<aside class="sidebar">

    <h3>Danh mục</h3>

    <ul>

        <li><a href="#">Món Việt</a></li>

        <li><a href="#">Món Hàn</a></li>

        <li><a href="#">Món Âu</a></li>

        <li><a href="#">Tráng miệng</a></li>

    </ul>

</aside>