<%- include('partials/header') %>

    <%- include('partials/navbar') %>

        <div class="container">

            <main class="content">
                <h2>Recipe Sharing Website</h2>

                <p>Trang chủ đang được xây dựng...</p>
            </main>

            <%- include('partials/sidebar') %>

        </div>

        <%- include('partials/footer') %>